<div class="fade-in">
    <c-card>
        <c-card-body >
            <div style="text-align: center;">
                <span class="material-icons payment" >{{"payment" | translate}}</span>
            </div>
            <div style="text-align: center;">
                <h2>{{"Automatic payments" | translate}}</h2>
            </div>
            <div style="text-align: center;">
                <span style="color: grey;">{{"Automatic payments enabled, you will be automatically charged at the end of the billing period" | translate}}</span>
            </div>
            <br>
            <div style="text-align: center;">
                <button cButton color="primary" class="mfe-1" type="submit">{{"Update payments details" | translate}}</button>
            </div>
        </c-card-body>
    </c-card>
</div>
