<div class="fade-in">
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-body>
                    <c-row>
                        <c-col>
                            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                                <c-form-group cCol md="6">
                                    <label class="col-form-label" for="oldpassword">{{"Current Password" | translate}}</label>
                                    <input cInput id="oldpassword" type="password" formControlName="oldpassword"
                                         autocomplete="oldpassword" required
                                        [ngClass]="{ 'is-invalid': (submitted || f.oldpassword.touched) && f.oldpassword.invalid, 'is-valid': f.oldpassword.touched && f.oldpassword.valid }" />
                                    <div *ngIf="submitted && f['oldpassword'].invalid" class="invalid-feedback">
                                        <div *ngIf="f['oldpassword'].errors.required">{{"Password is required" | translate}}</div>
                                    </div>
                                </c-form-group>
                                <c-form-group cCol md="6">
                                    <label class="col-form-label" for="password">{{"Password" | translate}}</label>
                                    <input cInput id="password" type="password" formControlName="password"
                                         autocomplete="new-password" required
                                        [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && f.password.invalid, 'is-valid': f.password.touched && f.password.valid }" />
                                    <div *ngIf="submitted && f['password'].invalid" class="invalid-feedback">
                                        <div *ngIf="f['password'].errors.required">{{"Password is required" | translate}}</div>
                                        <div *ngIf="f['password'].errors.minlength">6
                                        </div>
                                        <div *ngIf="f['password'].errors.pattern">{{'(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}'}}</div>
                                    </div>
                                </c-form-group>
                                <c-form-group cCol md="6">
                                    <label class="col-form-label" for="confirmPassword">{{"Confirm password" | translate}}</label>
                                    <input cInput id="confirmPassword" type="password" formControlName="confirmPassword"
                                         autocomplete="new-password" required
                                        [ngClass]="{ 'is-invalid': submitted && simpleForm.errors, 'is-valid': f.confirmPassword.touched && !simpleForm.errors }" />
                                    <div *ngIf="submitted && simpleForm.errors" class="invalid-feedback">
                                        <div *ngIf="simpleForm.errors['passwordMismatch']">
                                            {{"Passwords must match" | translate}}</div>
                                    </div>
                                </c-form-group>
                                <c-form-group cCol md="6">
                                    <button cButton color="primary" class="mfe-1" type="submit">{{"Confirm" | translate}}</button>
                                </c-form-group>
                            </form>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>